<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatteryStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <BatteryStudio.Properties.Settings>
      <setting name="ProtocolFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWinWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MainWinHeight" serializeAs="String">
        <value>680</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="PacksFlag" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>zh-CN</value>
      </setting>
      <setting name="DefaultPoint" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="CID2Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TotalPackNum" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="FreshDuty" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ConnModeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommOverTime" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="RemoteIP" serializeAs="String">
        <value>58.247.103.90</value>
      </setting>
      <setting name="RemoteProtocolPort" serializeAs="String">
        <value>6588</value>
      </setting>
      <setting name="AllCommandWithAddr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoteSoftPort" serializeAs="String">
        <value>6586</value>
      </setting>
      <setting name="FaultToleranceNum" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CommunDriverIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FactoryTimeError" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FactoryHistoryRange" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="FactoryHistoryOrder" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FactoryCheckMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryCheckModualName" serializeAs="String">
        <value>BMSXX-XXXX</value>
      </setting>
      <setting name="FactoryCheckCurrent" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="FactoryCheckCurrentError" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FactoryMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemotePartNumberPort" serializeAs="String">
        <value>8558</value>
      </setting>
      <setting name="AutoStartFactory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainPortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="FactoryLoad1PortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="FactoryLoad1BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="FactoryLoad1Address" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FactoryLoad1WaitTime" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="FactoryLoad1Current" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="FactoryLoad2PortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="FactoryLoad2BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="FactoryLoad2Address" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FactoryLoad2WaitTime" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="FactoryLoad2Current" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="FactoryCellVPortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="FactoryCellVBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="FactoryCellVPackAddress" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FactoryLoad1Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryLoad2Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryCellVEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryCellVError" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FactoryCellNum" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="InitialConnectSetting" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="EnableInitialConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RetainPackSelect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryChargeCheckSign" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoryCheckAllTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LinkCommunOverTime" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FactoryCellVDiff" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="FactoryCellTDiff" serializeAs="String">
        <value>5</value>
      </setting>
    </BatteryStudio.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
